<!doctype html>
<html lang="en">
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <meta charset="utf-8">
  <title>Personal Notes</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" 
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <script src="/src/app/JS/DnD.js"></script>

</head>
<body>

  <nav class="navbar navbar-dark bg-dark" style="background-color: #333333">
    <label class="navbar-brand" style="color:white">Personal Notes</label>
    
    <div *ngIf="localStorage.getItem('auth_token') != undefined">
        <a class="pull-right label-nav" style="margin:14px;" href="/login" id="logOut">
            <label style="cursor: pointer;">Logout</label>
            <i class="material-icons logout">logout</i>
        </a>
    </div>
    <ul class="nav navbar-nav" style="font-size: 18px;">
      <li  style="cursor: pointer;">
        <a class="label-nav" href="/notes">
          <label style="color:white; cursor: pointer;">Notes</label>
        </a>
      </li>
      <li style="cursor: pointer;">
          <a href="/finance">
            <label style="color:white; cursor: pointer;">Finance</label>
          </a>
      </li>
      <li *ngIf="localStorage.getItem('role') == 'Admin'" style="cursor: pointer;">
          <a href="/admin">
            <label style="color:white; cursor: pointer;">Admin</label>
          </a>
      </li>
    </ul>
  </nav>

  <app-root></app-root>

</body>
</html>

<script>
  $(function() {
    $('#logOut').click(function() {
      localStorage.removeItem('auth_token');
    });

    $('#toggleUrl').change(function() {
      if($('#toggleUrl').prop('checked') ) location.replace('/notes');
      else location.replace('/finance');
    });
    $('.datepicker').datetimepicker({
                        viewMode: 'years',
                        format: 'MM/YYYY'
                    }).on('change', function( evt ) {
          console.log("DATE: ", $(".datepicker").val());
      });
    $(".datepicker").datetimepicker()
          .on('change', function( evt ) {
          console.log("DATE: ", $(".datepicker").val());
      });
  })
  
</script>