/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background: white;
  }
  
  h1 {
    font-size: 36px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  i {
    vertical-align: middle;
    color: #626262;
  }
  
  input {
    border: 1px solid #E8E8E8;
  }
  
  .page-title {
    text-align: center;
  }
  
  .item-content {
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  }
  
  .item-content .form-control {
    width: 100%;
    height: 50px;
  }
  
  .item-content .item-create {
    padding-bottom: 30px;
    border-bottom: 1px solid #e8e8e8;
  }
  
  .item-content .alert-danger {
    padding-left: 15px;
    font-size: 14px;
    color: red;
    padding-top: 5px;
  }
  
  .item-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 450px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
    margin-right: -15px;
    overflow-y: scroll;
  }
  
  .item-content ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E8E8E8;
  }
  
  .item-content ul li span {
    display: inline-block;
    vertical-align: middle;
  }
  
  .item-content .item-name, .item-content .item-description {
    width: calc(100% - 160px);
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .item-content .item-completed {
    display: inline-block;
    text-align: center;
    width:35px;
    height:35px;
    cursor: pointer;
  }
  
  .item-content .item-completed i {
    font-size: 20px;
  }
  
  .item-content .item-actions, .item-content .edit-actions {
    float: right;
  }
  
  .item-content .item-actions i, .item-content .edit-actions i {
    font-size: 17px;
  }
  
  .item-content .item-actions a, .item-content .edit-actions a {
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  
  .item-content .item-actions a:hover, .item-content .item-actions a:hover {
    background-color: #f4f4f4;
  }
  
  .item-content .item-edit input {
    width: calc(100% - 80px);
    height: 35px;
  }
  .item-content .edit-actions {
    text-align: right;
  }
  
  .no-items {
    text-align: center;
  }
  
  .toggle-completed-checkbox:before {
    content: 'check_box_outline_blank';
  }
  
  li.completed .toggle-completed-checkbox:before {
    content: 'check_box';
  }
  
  li.completed .item-title {
    text-decoration: line-through;
    color: #757575;
  }
  
  li.completed i {
    color: #757575;
  }
  
  .item-input{
    border: 1px solid black;
  }
  
  .item-textarea {
    margin-top: 3%;
    width: 100%;
    height: 200px;
    max-height: 200px;
    border: 1px solid black;
  }
  
  .special-button{
    margin-top: 2%;
  }
  
  .special-button-down {
    margin-bottom: 2%;
  }
  
  .myicon{
    color: white;
    width: 70%;
    height: 70%;
  }
  
  /*
      Tooltip
   */
  
  .container div {
    float: left;
  }
  
  #i-have-a-tooltip {
    padding: 10px;
    margin: 5px 35px 0 0;
    position: relative;
    border-radius: 25px;
    box-shadow: 5px 5px 0px rgba(0,0,0,.05);
  }
  
  #i-have-a-tooltip:before {
    content: attr(data-description);
    box-sizing: border-box;
    display: block;
    background: rgba(0,0,0,.7);
    color: white;
    padding: 5px;
    position: absolute;
    left: 150%;
    top: 25px;
    margin-left: -100px;
    width: 100px;
    height: 45px;
    line-height: 25px;
    border-radius: 5px;
    opacity: 0;
    transition: .25s ease-in-out;
  }
  
  #i-have-a-tooltip:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid rgba(0,0,0,.7);
    transition: .25s ease-in-out;
    opacity: 0;
  }
  
  #i-have-a-tooltip:hover:before {
    opacity: 1;
    top: -30px;
  }
  
  #i-have-a-tooltip:hover:after {
    opacity: 1;
    top: 15px;
  }
  
  
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

/*
  DIAGRAMM
*/


/*
  NAVIGATION LABELS
*/
.label-nav {
  color: white;
}
.label-nav:hover {
  color: skyblue;
}
/*
  CUSTOM
*/
.div-shadow {
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}
.div-margin {
  margin: 5px;
}
.table-column {
  width: 17%; 
  cursor: pointer;
  text-align: center;
}
.nav-item {
  font-size: 18px;
  margin-right: 2%;

}

.container {
  width: 500px;
  max-height: 500px;
  margin: 10px;
  border: 1px solid #fff;
  background-color: #ffffff;
  box-shadow: 0px 2px 7px #292929;
  -moz-box-shadow: 0px 2px 7px #292929;
  -webkit-box-shadow: 0px 2px 7px #292929;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.mainbody,
.header,
.footer {
  padding: 5px;
}
.mainbody {
  margin-top: 0;
  min-height: 150px;
  max-height: 388px;
  overflow: auto;
}
.header {
  height: 40px;
  border-bottom: 1px solid #EEE;
  background-color: #ffffff;
  height: 40px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.footer {
  height: 40px;
  background-color: whiteSmoke;
  border-top: 1px solid #DDD;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*
  TABLE
*/
quare {
  width: 100%;
  table-layout: fixed;
}

mytd {
  border: 1px solid;
  padding: 0;
}
mytd:after {
  content: '';
  display: block;
  margin-top: 100%;
}
.mynote {
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}
.mynote:hover {
  box-shadow: 0 0 4px rgba(255, 0, 0, 0.720), 0 4px 8px rgba(255, 0, 0, 0.720);
}