<div class="col-md-4 col-md-offset-4">
    <div class="item-content" style="text-align: center;">
        <form (ngSubmit)="changePass()">
            <div class="col-md-12 div-margin" style="text-align: center;">
                <label class="col-form-label"><h4>New password</h4></label>
                <input type="password" class="form-control" [(ngModel)]="newpass" minlength="6" name="newPass" (input)="comparePass()">
            </div>
            <button type="submit" class="btn btn-success" [disabled]="existingPass">Submit</button>
        </form>
        <div class="alert alert-danger" style="margin: 3%;" [hidden]="existingPass==false">
            New password must not be the same as the old one
        </div>
    </div>
</div>