<div class="col-md-4 col-md-offset-4 alert alert-danger" style="text-align: center;" [hidden]="showError == false">
    <h4>{{error}}</h4>
</div>
<div [hidden]="showError == true">
        <div id="statusDrag"></div>  
        <h3 class="page-title">Notes:{{currentUser.userName}}</h3>
        <div class="col-md-10">
          <div *ngFor="let note of notes">
            <div *ngIf="note.position != 'absolute'" class="col-md-2 div-margin mynote" [style.background-color]="note.status" style="word-wrap:break-word;" id="myNote" 
                  (mousedown)="selectNoteId(note.noteId)" on draggable="true" ondragstart="dragStart(this, event)" ondragend="dragEnd(this, event)" >
                <input type="text" style="display: none" value="note.noteId" id="NoteID">
                <h5 style="float: left;word-wrap:break-word;"><label>{{note.name}}</label></h5>
                <div style="float:right; margin-top: 5px;">
                  <i class="material-icons edit" style="font-size:20px; cursor:pointer;" (click)="EditModal.show();selectNote(note)">edit</i>
                  <i class="material-icons clear" style="font-size:20px; cursor:pointer;" (click)="DeleteModal.show();selectNote(note)">clear</i>
                </div>
                <br>
                <h5><label>{{note.description}}</label></h5>
            </div>
            <div *ngIf="note.position == 'absolute'" class="col-md-2 div-margin mynote"
                      [style.background-color]="note.status" style="word-wrap:break-word;" id="myNote" 
                      (mousedown)="selectNoteId(note.noteId)" draggable="true"  ondragstart="dragStart(this, event)" ondragend="dragEnd(this, event)"
                      [style.left]="note.left + 'px'" [style.top]="note.top + 'px'" [style.position]="note.position">
                <input style="display: none" value="note.noteId" id="NoteID">
                <h5 style="float: left;word-wrap:break-word;"><label>{{note.name}}</label></h5>
                <div style="float:right; margin-top: 5px;">
                  <i class="material-icons edit" style="font-size:20px; cursor:pointer;" (click)="EditModal.show();selectNote(note)">edit</i>
                  <i class="material-icons clear" style="font-size:20px; cursor:pointer;" (click)="DeleteModal.show();selectNote(note)">clear</i>
                </div>
                <br>
                <h5><label>{{note.description}}</label></h5>
            </div>
          </div>
        </div>
        <div class="col-md-2" id="AddDiv">
            <h4><label>Create note</label></h4>
            <form #noteForm="ngForm" name="AddForm" (ngSubmit)="createNote(noteForm); noteForm.reset()" novalidate>
      
              <input type="text" class="form-group form-control item-input" placeholder="Name" 
                      required [(ngModel)]="newNote.name" name="name" #name="ngModel" autocomplete="off" maxlength="10">
        
              <select #addSelect [(ngModel)]="newNote.status" [ngModelOptions]="{standalone: true}" class="form-group form-control item-input">
                <option *ngFor="let color of selectdata;" [style.background-color]="color.name" value="{{color.name}}">{{color.name}}</option>
              </select>
        
              <textarea class="item-textarea" [(ngModel)]="newNote.description" placeholder="Description" required name="desc" #desc="ngModel"></textarea>
      
              <button type="submit" style="margin-top: 2%" class="btn btn-success" >Submit</button>
            </form>
        </div>
</div>
      
      <app-modal #EditModal>
        <div class="app-modal-header">
          <h3>Edit note</h3>
        </div>
      
        <div class="app-modal-body">
            <form #editNote="ngForm" (ngSubmit)="edit();">
              <input type="text" class="form-group form-control item-input" placeholder="Name" 
                      required [(ngModel)]="editingNote.name" name="name" #name="ngModel" autocomplete="off" maxlength="10">
        
              <select #addSelect [(ngModel)]="editingNote.status" [ngModelOptions]="{standalone: true}" class="form-group form-control item-input">
                <option *ngFor="let color of selectdata;" [style.background-color]="color.name" value="{{color.name}}">{{color.name}}</option>
              </select>
        
              <textarea class="item-textarea" [(ngModel)]="editingNote.description" placeholder="Description" required name="desc" #desc="ngModel"></textarea>
      
              <button type="submit" style="margin-top: 2%" class="btn btn-success" >Submit</button>

            </form>

            <button class="btn btn-danger special-button" style="margin-top: 2%" (click)="editNote.reset();EditModal.hide();">Cancel</button>
        </div>
      </app-modal>
      
      <app-modal #DeleteModal>
        <div class="app-modal-header">
          <h3>Deleting note</h3>
        </div>
      
        <div class="app-modal-body">
          <h2>Are you sure?</h2>
          <div class="btn-group">
            <button class="btn btn-success" (click)="deleteNote();DeleteModal.hide()">Ok</button>
            <button class="btn btn-danger" (click)="DeleteModal.hide();">Cancel</button>
          </div>
        </div>
      </app-modal>
      