<div class="col-md-12">
    
  <div class="col-md-4 col-md-offset-4 div-shadow">
    <form #loginForm="ngForm" name="AddForm" (submit)="login()" novalidate>
        <div class="row">
          <h1 class="page-title">Authorization</h1>
          <div class="col-md-12">
            <label class="col-form-label"><h4>Login:</h4></label>
            <div>
                <input type="text" class="form-control" style="border: 1px solid black" placeholder="Name" name="name" [(ngModel)]="LoginAcc.userName"
                      #userName="ngModel" minlength="2" maxlength="50" required autocomplete="off">
            </div>
            <div class="alert alert-danger" [hidden]="userName.valid || userName.untouched">
                Login is not valid
            </div>
          </div>

          <div class="col-md-12">
            <label class="col-form-label"><h4>Password:</h4></label>
            <div>
                <input type="password" class="form-control" style="border: 1px solid black" placeholder="Password" name="password" [(ngModel)]="LoginAcc.password"
                      #password="ngModel" minlength="4" maxlength="50" required>
            </div>
            <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
              Password not entered
            </div>
          </div>
          <div class="col-md-4 col-md-offset-4 btn-group" style="margin-top:5%; margin-bottom: 5%;">
              <button type="button" class="btn btn-sm btn-primary" (click)="AddModal.show()">Create Account</button>
              <button type="submit" class="btn btn-sm btn-success">Submit</button>
          </div>
        </div>
    </form>
  </div>
  <div class="col-md-2 col-md-offset-5 alert alert-danger" *ngIf="blockAuthorization == true" style='margin-top: 2%; margin-bottom: 2%;'>
    <h5 style="color:black;"><p>Some error occured...</p>
    <p>{{error}}</p></h5>
  </div>
</div>


<app-modal #AddModal>
  <div class="app-modal-header">
    <h3>Register new account</h3>
  </div>
  <div class="app-modal-body">
    <form #accForm="ngForm" name="AddForm" (ngSubmit)="createAccount(accForm);AddForm.hide()" novalidate>

      <div style="margin-bottom: 2%;">
        <input type="text" class="form-control item-input" placeholder="Name" name="addName" (input)="checkLogin()" [(ngModel)]="newAccount.userName"
               #addName="ngModel" minlength="2" maxlength="50" required autocomplete="off">
        <div [hidden]="addName.valid || addName.untouched" class="alert alert-danger">
          Login not valid
        </div>
        <div [hidden]="!blockByName" class="alert alert-danger">
          This login is busy
        </div>
      </div>

      <div>
        <input type="password" class="form-control item-input" placeholder="Password" name="password" [(ngModel)]="newAccount.password"
               #password="ngModel" minlength="4" maxlength="50" required>
        <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
          Password not valid
        </div>
      </div>

      <select style="margin-top: 2%; margin-bottom: 2%;" [(ngModel)]="newAccount.role" [ngModelOptions]="{standalone: true}" class="form-group form-control item-input">
        <option *ngFor="let elem of selectdata;" value="{{elem.name}}">{{elem.name}}</option>
      </select>

      <button type="submit" style="margin-top: 2%" class="btn btn-success" [disabled]="accForm.invalid || blockByName">Submit</button>
    </form>
    <button class="btn btn-danger special-button" style="margin-top: 2%" (click)="AddModal.hide()">Cancel</button>
  </div>
</app-modal>


<app-modal #DeleteModal>
  <div class="app-modal-header">
    <h3>Deleting </h3>
  </div>

  <div class="app-modal-body">
    <h2>Are you sure?</h2>
    <button class="btn btn-success" (click)="deleteAccount(editingAccount.accountId);DeleteModal.hide()">Ok</button>
    <button class="btn btn-danger" (click)="DeleteModal.hide();clearEditing()">Cancel</button>
  </div>
</app-modal>
