<div class="col-md-4 col-md-offset-4 alert alert-danger" style="text-align: center;" [hidden]="showError == false">
  <h4>{{error}}</h4>
</div>
<div [hidden]="showError == true">
  <h3 class="page-title">Control panel</h3>
  <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th class="table-column">
              <div>Login</div>
            </th>
            <th class="table-column">
              <div>Role</div>
            </th>
            <th class="table-column">
              <div by="files">Actions</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let acc of accounts">
            <td>{{acc.userName}}</td>
            <td>{{acc.role}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-xs btn-warning" (click)="EditModal.show();selectOperation(opera);">
                  <i class="material-icons edit">edit</i>
                </button>
                <button class="btn btn-xs btn-danger" (click)="DeleteModal.show();selectOperation(opera);">
                  <i class="material-icons delete" style="color: white">clear</i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    
      <div class="no-items" *ngIf="accounts && accounts.length == 0">
        <h4>No Accounts Found!</h4>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">
          <div class="col-md-12 div-shadow">
              <h4>Send mail</h4>
              <div>
                  <form #messForm="ngForm" name="AddForm" (ngSubmit)="sendMail(messForm);" novalidate>
                  
                  <h4>To:</h4>
                  <select #addSelect  style="margin-bottom:5%; font-size: 16px;" class="form-control"
                       [(ngModel)]="message.receiver" name="receiver">
                      <option *ngFor="let c of selectdata;" value="{{c}}">{{c}}</option>
                  </select>

                  <h4>Type:</h4>
                  <select #addSelect  style="margin-bottom:5%; font-size: 16px;" class="form-control"
                       [(ngModel)]="message.type" name="type">
                      <option *ngFor="let c of types;" value="{{c.name}}">{{c.name}}</option>
                  </select>

                  <h4>Title:</h4>
                  <input type="text" class="form-control" style="margin-bottom:5%; font-size: 16px;" [(ngModel)]="message.title" name="title" required autocomplete="off">

                  <h4>Content</h4>
                  <textarea class="item-textarea" style="margin-bottom:5%; font-size: 16px;" [(ngModel)]="message.content" name="content" required autocomplete="off"></textarea>

                  <br>
                  <button type="submit" style="margin-bottom: 3%;" class="btn btn-success">Submit</button>
                  </form>
              </div>
            </div>
            <div class="col-md-12 div-shadow div-margin">
              <div *ngIf="sendMailStatus != undefined && sendMailStatus == 'true'" class="alert alert-success">
                  <h4><b>Email sent</b></h4>
              </div>
              <div *ngIf="sendMailStatus != undefined && sendMailStatus == 'true'" class="alert alert-success">
                  <h4><b>Send failed</b></h4>
              </div>
            </div>
      </div>
    </div>
</div>