<div class="col-md-4 col-md-offset-4 alert alert-danger" style="text-align: center;" [hidden]="showError == false">
  <h4>{{error}}</h4>
</div>
<div [hidden]="showError == true">
        <h3 class="page-title">Finance operations:{{currentUser.userName}}</h3>
        <h3>
            Total value:
            <span *ngIf="totalVal > 0" class="label label-success">+{{totalVal}}</span>
            <span *ngIf="totalVal < 0" class="label label-danger">-{{totalVal}}</span>
            <span *ngIf="totalVal == 0" class="label label-warning">{{totalVal}}</span>
        </h3>

      <!--
        First part of page
        TABLE
      -->
      <div class="col-md-6">
        <table class="table">
          <thead>
            <tr>
              <th class="table-column">
                <div>Value</div>
              </th>
              <th class="table-column">
                <div>Name</div>
              </th>
              <th class="table-column">
                <div>Date of Operation</div>
              </th>
              <th class="table-column">
                <div by="files">Actions</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let opera of operations">
              <td>
                <h4><span *ngIf="opera.type==='Income'" class="label label-success">+{{opera.value}}</span></h4>
                <h4><span *ngIf="opera.type==='Expenditure'" class="label label-danger">-{{opera.value}}</span></h4>
              </td>
              <td>{{opera.name}}</td>
              <td>{{opera.dateOfOperation | date: 'dd.MM.yyyy' }}</td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-xs btn-warning" (click)="EditModal.show();selectOperation(opera);">
                    <i class="material-icons edit">edit</i>
                  </button>
                  <button class="btn btn-xs btn-danger" (click)="DeleteModal.show();selectOperation(opera);">
                    <i class="material-icons delete" style="color: white">clear</i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      
        <div class="no-items" *ngIf="notes && notes.length == 0">
          <h4>No Operations Found!</h4>
        </div>
      </div>
      <!--
        Second part of page
        FILTERS
        ADD OPERATION
      -->
      <div class="col-md-6">
        <div class="col-md-6">
          <h4><label>Filter by:</label></h4>
          <h5><ul class="list-group hover">
            <a class="list-group-item list-group-item-action">
                <label>Name</label>
                <input class="form-control" style="font-size: 14px;" [(ngModel)]="filterName" (input)="filterByName()">
            </a>
            <a class="list-group-item list-group-item-action">
              <label>By date</label>
              <mat-form-field style="width: 80%;">
                <input [(ngModel)]="filtrationDate" style="font-size: 16px;"
                                [ngModelOptions]="{standalone: true}" matInput [matDatepicker]="dateFilter"  disabled>
                <mat-datepicker-toggle style="font-size:20px;" matSuffix [for]="dateFilter"></mat-datepicker-toggle>
                <mat-datepicker #dateFilter disabled="false"></mat-datepicker>
              </mat-form-field>
            </a>
          </ul></h5>
          <h4>
            <label>Filter Value:</label>
            <i *ngIf="filterModel.ValueFilter!=='None' && filterModel.ValueFilter !== undefined" class="material-icons clear" 
                      (click)="setValFilter('None');applyFilter()" style="color: red; cursor: pointer;">clear</i>
          </h4>
          <h5><ul class="list-group hover">
            <a class="list-group-item list-group-item-action" style="cursor: pointer;" (click)="setValFilter('Asc'); applyFilter();">
                  <label style="cursor: pointer;">Ascending</label><i *ngIf="filterModel.ValueFilter==='Asc'" class="material-icons done" style="color: green">done</i>
            </a>
            <a class="list-group-item list-group-item-action" style="cursor: pointer;" (click)="setValFilter('Desc'); applyFilter();">
                <label style="cursor: pointer;">Descending</label><i *ngIf="filterModel.ValueFilter==='Desc'" class="material-icons done" style="color: green">done</i>
            </a>
          </ul></h5>

          <h4>
            <label>Show only:</label>
            <i *ngIf="filterModel.ShowOnly!=='None' && filterModel.ShowOnly !== undefined" class="material-icons clear" 
                      (click)="setShow('None');applyFilter()" style="color: red; cursor: pointer;">clear</i>
          </h4>
          <h5><ul class="list-group hover">
            <a class="list-group-item list-group-item-action" style="cursor: pointer;" (click)="setShow('Income'); applyFilter();">
                  <label style="cursor: pointer;">Income</label><i *ngIf="filterModel.ShowOnly==='Income'" class="material-icons done" style="color: green">done</i>
            </a>
            <a class="list-group-item list-group-item-action" style="cursor: pointer;" (click)="setShow('Expenditure'); applyFilter();">
                <label style="cursor: pointer;">Expenditure</label><i *ngIf="filterModel.ShowOnly==='Expenditure'" class="material-icons done" style="color: green">done</i>
            </a>
          </ul></h5>
        </div>
        <div class="col-md-6">
          <div class="col-md-12 div-shadow">
            <h4>Add finance operation</h4>
            <div>
                <form #operForm="ngForm" name="AddForm" (ngSubmit)="createOperation(operForm);" novalidate>

                <input type="number" class="form-control" style="margin-bottom:5%; font-size: 16px;" placeholder="Value" required 
                        [(ngModel)]="newOperation.value" name="Value" #value="ngModel" autocomplete="off">

                <input type="text" class="form-control" style="margin-bottom:5%; font-size: 16px;" placeholder="Name" required 
                        [(ngModel)]="newOperation.name" name="Name" #name="ngModel" autocomplete="off">

                <select #addSelect [(ngModel)]="newOperation.type" style="margin-bottom:5%; font-size: 16px;" 
                        [ngModelOptions]="{standalone: true}" class="form-control">
                    <option *ngFor="let c of selectdata;" value="{{c.name}}">{{c.name}}</option>
                </select>
                <mat-form-field style="width: 80%;">
                    <input [(ngModel)]="newOperation.dateOfOperation" style="font-size: 16px;"
                                    [ngModelOptions]="{standalone: true}" matInput [matDatepicker]="dp3"  disabled>
                    <mat-datepicker-toggle style="font-size:20px;" matSuffix [for]="dp3"></mat-datepicker-toggle>
                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                </mat-form-field>
                <br>
                <button type="submit" style="margin-bottom: 3%;" class="btn btn-success">Submit</button>
                </form>
            </div>
          </div>

          <div class="col-md-12">
              
          </div>

        </div>
      </div>
</div>
      
      <app-modal #EditModal>
        <div class="app-modal-header">
          <h3>Edit operation</h3>
        </div>
      
        <div class="app-modal-body">
            <form #editForm="ngForm" name="EditForm" (ngSubmit)="editOperation(editForm);EditModal.hide();" novalidate>

                <input type="number" class="form-control" style="margin-bottom:5%; font-size: 18px;" placeholder="Value" required 
                        [(ngModel)]="editingOperation.value" name="editValue" #editValue="ngModel" autocomplete="off">

                <input type="text" class="form-control" style="margin-bottom:5%; font-size: 18px;" placeholder="New name"  
                        [(ngModel)]="editingOperation.name" name="editName" #editName="ngModel" required autocomplete="off">

                <input class="form-control" [(ngModel)]="editingOperation.type" [ngModelOptions]="{standalone: true}" 
                        style="margin-bottom:5%; font-size: 18px;" disable>

                <mat-form-field style="width: 80%;">
                    <input [(ngModel)]="editingOperation.dateOfOperation" style="font-size: 20px;"
                                    [ngModelOptions]="{standalone: true}" matInput [matDatepicker]="editDate"  disabled>
                    <mat-datepicker-toggle style="font-size:20px;" matSuffix [for]="editDate"></mat-datepicker-toggle>
                    <mat-datepicker #editDate disabled="false"></mat-datepicker>
                </mat-form-field>
                <br>
                <button type="submit" style="margin-bottom: 3%;" class="btn btn-success">Submit</button>
            </form>
            <button class="btn btn-danger" style="margin-bottom: 3%;" (click)="editForm.reset();EditModal.hide();" >Close</button>
        </div>
      </app-modal>
      
      <app-modal #DeleteModal>
        <div class="app-modal-header">
          <h3>Deleting event</h3>
        </div>
      
        <div class="app-modal-body">
          <h2>Are you sure?</h2>
          <button class="btn btn-success" (click)="deleteOperation();DeleteModal.hide()">Ok</button>
          <button class="btn btn-danger" (click)="DeleteModal.hide();">Cancel</button>
        </div>
      </app-modal>
      